html, body {
	background-color: #a6a9a7;
	height: 100%;
	min-height: 100%;
}
.portal-header {
	height: 90px;
	background-color: #ddd;
	padding: 1em;
	border-bottom: 2px dashed #aaa;
}
.intervention-container {
	height: 100%;
	min-height: 100%;
	margin-top: -90px;
}
.intervention-main-row {
	height: 100%;
	min-height: 100%;
	padding-top: 90px;
}
.intervention-left-col {
	background-color: #666868;
	min-height: 100%;
	overflow: auto;
	color: #eee;
}
.intervention-left-col h1, .intervention-left-col h2, .intervention-left-col h3 {
	color: #fff;
}
.intervention-left-col a {
	color: #fff;
}
.intervention-left-col a:hover; {
	color: #5e7b3a;
}
.intervention-left-col .nav-pills > li.active > a, .intervention-left-col  .nav-pills > li.active > a:hover, .intervention-left-col  .nav-pills > li.active > a:focus {
		background-color: #ffffff;
		color: #5e7b3a;
}
.intervention-left-col .nav-pills > li > a:hover {
		color: #5e7b3a;
}
.intervention-main-col {
	background-color: #fff;
	min-height: 100%;
	overflow: auto;
}
@media (max-width: 767px) {
	.portal-header {
		height: 70px;
	}
	.intervention-container {
		margin-top: 0;
	}
	.intervention-main-row {
		padding-top: 0;
	}
	.intervention-container, .intervention-main-col, .intervention-left-col, .intervention-main-row {
		height: auto;
		min-height: inherit;
	}
}
